*{
    padding: 0px;
    margin: 0px;
}
:root{
    --red:#e50914;
    --black:#000;
    --white:#fff;
    font-size: 13px;
}
body,section{
    background-color:#181818;
}

.nav1{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    z-index: 3;
    /* position: fixed; */
   
}
.logo-container{
    
    width: 190px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */

}
.logo{
    width: 80%;
    height: 80%;
    background-image: url('/netflixlogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    
    /* background-color: red; */
}
nav{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: black;
    position: fixed;
    z-index: 3;
    /* justify-content: center; */
}
.list{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 3;
    /* background-color: red; */

}
.user
{
 width: 45px;
 height: 45px;
 border-radius: 50%;
    background-color: rgba(250, 235, 215, 0.792);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: red; */
}
.menu-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    /* background-color: yellow; */
}
ul{
    list-style-type: none;
    color: white;
    font-size: 1.05rem;
    font-weight: 700;
}


/* section */
.hero-section{
/* width: 100%; */
/* height: 600px; */
/* background-color: red; */

background-repeat: no-repeat;
background-size: cover;
display: flex;
align-items: center;
background-position:  top;
/* padding: 170px 5% 130px; */
height: 100vh;
/* padding-bottom: 81px; */
position: relative;

}
.hero-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
      to left,
      var(--black),
      rgba(0, 0, 0, 0),
      rgba(18, 17, 17),
      rgba(0, 0, 0, 1)
    );
  }
.main-section{
    height: 500px;
    width: 50%;
    /* background-color:red ; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    
    display: flex;
    flex-direction:column ;
    color: white;
    font-size: 1.5rem;
    align-items: flex-start;
    /* justify-content: flex-start; */
    /* background-color: yellow; */
   
    width: 70%;
    z-index: 2;
}
.hero-discription{
 
    width: 83%;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    /* background-color: blueviolet; */
    align-items: start;
    /* justify-content: flex-start; */
    text-align: justify;
    z-index: 3;
    
}
.btn{
    /* background-color: red; */
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-wrap: wrap;
    z-index: 2;
    width: 60%;
    height: 60px;
    margin-top: 30px;
    margin-left: -53px;
    /* align-self: self-start; */
    /* background-color: rebeccapurple; */
}
button{
    width: 40%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0,0,0.36);
    border: none;
    font-size: 1.2rem;
    flex: 1 1 120px;
    display: inline-block;
   
    margin-left: -10px;
    
}
button i{
    margin-right: 10px;
    font-size: 1.2rem;

}
/* movies */
.movie-list{
    color: white;
   font-size: 1.2rem;
    
    /* height: 352px; */
   background-color: black;
   padding-top: 10px;
   padding-bottom: 10px;
}
.hero-title{
    
font-weight: bold;
font-family: cursive;
font-size: 4rem;
}
.pp{
    display: flex;
    flex-direction: row;
}
.pp div{
    margin-left: 10px;
    color: #727070;
}
.p2{
    border: 1px solid white;
    padding-left: 2px;
    padding-right: 2px;
}


.staring{
    height: 30px;
    /* background-color: yellow; */
    width: 50%;
    color: white;
    z-index: 4;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-right: 150px;
    font-weight: 700;
    
}
.watch{
    
    width: 100%;
    /* background-color: red; */
    z-index: 3;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: -65px;
}
.watch1{
    height: 65px;
    width: 95%;
    background-image: linear-gradient(90deg,#333 5%,#181818 95%);
    z-index: 3;
    display: flex;
    justify-content: space-between   ;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    box-shadow: #000;
    
}
.watch2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: center; */
    width: 22%;
    /* background-color: blue; */
    height: 60px ;
}
.btn8{

    /* width: 10%; */

    height: 100%;
    width: 13%;
    display: flex;
    align-items: center;
    
    
    /* background-color: blue; */
}
.btn{
    margin: 0px;
    padding: 0px;
    height: 47px;
   
    
}
.logon{
    
display: flex;
align-items: center;
    font-size: 5rem;
    font-weight: 900;
    color: red;
}
.text5{
    font-size: 2rem;
    color: white;
}
.videos{
    display: flex;
    justify-content: space-evenly;
  }
  .videos video{
    width: 500px;
  }
  .videos-section h1,.videos-section h3,.videos-section h2{
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  color: white;
  
  }
  .videos-section{
    height: 400px;
    
  }